$main-color: skyblue;

body {
  background-color: $main-color;
}

.post-list{
  &__login-btn {
    .root--authed & {
      display: none;
    }
  }
  &__new-post-btn, &__logout-btn {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
}
.post-comment {
  display: none;
  .root--authed & {
    display: inline-block;
  }
}

// .root--authed .post-list__login-btn {
//   display: none;
// }
// .post-list__logout-btn {
//   display: none;
// }
// .root--authed .post-list__logout-btn {
//   display: inline-block;
// }